POSTGRES_USER=USER_EXAMPLE
POSTGRES_PASSWORD=PASSWORD_EXAMPLE
POSTGRES_DB=DB_EXAMPLE
DATABASE_URL=postgresql://USER_EXAMPLE:PASSWORD_EXAMPLE@db:5432/DB_EXAMPLE?schema=public
APP_PORT=3000
TOKEN_SECRET=EXAMPLE_SECRET_KEY